
a {
  font-weight: 550;
  color: #233D4D;
  text-decoration: inherit;
  font-size: large;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  padding: 20px;
  font-family: monospace;
  background: #dad7cd;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 100%;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 4px solid #134022;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  color: #535bf3
}

.footer {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 3%;
}

.footer a {
  margin-right: 25px;
  text-decoration: none;
}

.footer a.active {
  color: #535bf3
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.hello{
  display: flex;
  /* background-color: bisque; */
  align-content: center;
  justify-content: center;
}

.hello div{
  align-items: center;
  margin: 10px;
  width: 100%;
}

.about-card{
  background-color: #c2c5aa;
  /* border: solid 4px #134022; */
  padding: 6px;
}

.testimonial-card {
  display: flex;
  background-color: bisque;
  align-content: center;
  justify-content: center;
}

.testimonial-card div {
  align-items: center;
  margin: 10px;
  width: 100%;
}

.me-carousel{
  flex: 1;
  align-self: center;
  /* margin-right: 100px; */
  width: 50%;
  box-sizing: border-box;
  /* border: solid 4px #134022; */
}

.me-container {
  display: flex;
  width: 80%;
  height: 80%;
  margin: auto;
}

.text-container {
  flex: 1;
  /* background-color: #DCE2AA; */
  font-size: 1.9vw;
  box-sizing: border-box;
  /* border: solid 4px #134022; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 35px;
  background-color: #f0efeb;
}

.home-nav {
  cursor: pointer;
}

.booked-time {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.nav-links-container {
  display: flex;
  justify-content: center;

}

.nav-links-container h3 {
  margin-right: 0;
  font-size: xx-large;
}

.nav-links-container h3 + h3 {
  margin-left: 20px;
}

.nav-links-container a {
  text-decoration: none;
}

.nav-links-container a.active {
  color: #535bf3
}

.button {
  background-color: #257e44;
  border: 2px #257e44;
  color: white;
}

.city-cards{
  display: flex;
  align-content: center;
  justify-content: center;
}

.city-cards div{
  align-items: center;
  margin: 10px;
  width: 100%;
  font-size: large;
}

.company-overview {
  font-size: x-large;
}

.home-welcome {
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mission-and-values {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
}

.service-area {
  font-size: x-large;
}

.service-quality {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
}

.welcome-intro {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
}

.more-info {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
  text-align: center;
  margin-top: 1%;
}

.map-info {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  display: block;
  text-align: center;
  background-color: #f0efeb;
}

.google-map {
  border: solid 4px #134022;
}

.contact-form{
  /* border: solid 4px #134022; */
  padding: 10px;
}

.contact-form div {
  font-size: large;
  font-weight: 400;
  padding: 6px; 
}

.text-center {
  margin-top: 10px;
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Set the text color to contrast with the images */
}

.carousel-caption .button {
  margin: 5px; /* Adjust the margin for the desired gap */
}

.carousel-caption h3,
.carousel-caption p {
  margin: 0; /* Remove default margins for better alignment */
}

.schedule-button {
  background-color: white;
  border: 2px white;
  color: black;
}

.who-and-what {
  padding-top: 2%;
  text-align: center;
}

.contact-button {
  background-color: #257e44;
  border: 2px #257e44;
  color: white;
  width: 200px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}

.login-inputs {
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
}

.login-inputs input {
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
}

.welcome-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  background-color: white;
  border: 2px white;
  color: black;
}

.testimonial-header {
  text-align: center;
}

.testimonial-info {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
  text-align: center;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.schedule {
  text-align: center;
}

.schedule button {
  margin: 5px;
}

.no-button {
  background-color: #7e255f;
  border: 2px #7e255f;
  color: white;
}

.faq {
  text-align: center;
  padding: 25px;
  font-size: x-large;
  border: solid 4px #134022;
  background-color: #f0efeb;
  margin-top: 1%;
}

.faq-header {
  text-align: center;
  padding: 1%;
}

.learn-more {
  text-align: center;
  padding: 1%;
  font-size: x-large;
  border: solid 4px #134022;
  background-color: #f0efeb;
  margin-bottom: 1%;
}

.home-container {
  display: flex;
  justify-content: space-between;
}

.home-left {
  width: 48%;
  position: relative;
}
.left-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.left-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  /* border: solid 4px #134022; */
}

.left-img img {
  width: 100%; /* Adjust the width of the image as needed */
  height: 100%;
  /* object-fit: cover; */
}

.home-left h3 {
  text-align: center;
  color: black;
  /* border: solid 4px #134022; */
  background-color: #f0efeb;
  padding: 1%;
}

.home-right {
  width: 48%;
  /* padding-top: 3%; */
  
}

.home-right h3 {
  text-align: center;
  font-size: x-large;
}

.delete-button {
  background-color: #7e255f;
  border: #7e255f;
}

.edit-button {
  background-color: #257e44;
  border: #257e44;
}

.appointment-scheduler {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 1%;
}

.calendar {
  /* width: 48%; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */

}
.calander-key {
  margin-right: 7%;
  /* display: flex; */
  /* justify-content: space-between; */
}

.appointment-available,
.appointment-unavailable {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}

.appointment-available {
  background-color: #257e44;
}

.appointment-unavailable {
  background-color: grey;
}

.time-slots-container {
  /* width: 48%; */
  text-align: center;
  padding-top: 1%;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1%;
}

.time-slots button {
  /* width: 20%; */
  /* margin-bottom: 23px; */
  background-color: #257e44;
  border: #257e44;
}

.appointment-details {
  margin-top: 5%;
  text-align: center;
}

.appointment-info {
  font-size: x-large;
}



.service-info select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.appointment-inputs {
  padding-top: 3%;
}

.appointment-form {
  padding: 1%;
  font-size: x-large;
}

.appointment-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.testimonial-form {
  padding: 1%;
  font-size: x-large;
  text-align: center;
}

.testimonial-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.test-button {
  display: block;
  margin: 0 auto;
  background-color: #257e44;
  border-color: #257e44;
  width: 20%;
}

.form-header {
  text-align: center;
  padding-top: 1%;
}

.insert-email {
  text-align: center;
  padding-top: 1%;
}

.edit-form {
  margin-top: 20px; /* Adjust margin as needed */
  text-align: center;
}

.edit-form label {
  display: block;
  margin-bottom: 5px;
  font-size: x-large;
}

.edit-control {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  /* padding-bottom: 1%; */
}

.user-button {
  display: block;
  margin: 0 auto;
  margin-top: 1%;
  background-color: #257e44;
  border-color: #257e44;
  width: 10%;
}

.service--page {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
  text-align: center;
}

.services-offered {
  text-align: center;
  padding-top: 1%;
}

.services-header {
  text-align: center;
  padding-top: 1%;
}

.services-details {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
}

.carousel-image-grill {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.7;
}

.service-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.service-appointment {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
}

.service-appointment button {
  display: block;
  margin: 0 auto;
}

.service-faq {
  font-size: x-large;
  border: solid 4px #134022;
  padding: 1%;
  background-color: #f0efeb;
  margin-top: 1%;
}

.service-faq button {
  display: block;
  margin: 0 auto;
}