/* :root {
  --primary: #bc4123;
  --secondary: #2b3452;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: black;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer a {
  margin-right: 25px;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.hello{
  display: flex;
  background-color: bisque;
  align-content: center;
  justify-content: center;
}

.hello div{
  align-items: center;
  margin: 10px;
  width: 100%;
}

.testimonial-card {
  display: flex;
  background-color: bisque;
  align-content: center;
  justify-content: center;
}

.testimonial-card div {
  align-items: center;
  margin: 10px;
  width: 100%;
}

.carousel{
  width: 30%; /* Yeap you can change the width and height*/
  height: 30%;
  align-content: center;
  justify-content: center;
}

.home-nav {
  cursor: pointer;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
